/* TYPE IMPORTS FROM GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* GLOBAL VARIABLES */
:root {
    --main_color: #8f001a;
    --main_color_light: #f2f2f2;
    --border_color: #dfdfdf;
    --paragraph_color: #2d2d2c;

    --button_pri: var(--main_color);
    --button_pri_hover: #7b0016;

    --main_font: Inter, Poppins, Arial, Helvetica, sans-serif;
    --heading_font: Poppins, Arial, Helvetica, sans-serif;
}


/* ALL */
* {
    font-family: var(--main_font);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, th {
    font-family: var(--heading_font);
}

p, a {
    font-family: var(--main_font);
    color: var(--paragraph_color);
}



/* NAVIGATION */
.navigation_background {
    width: 100%;
    padding: 16px 0px;
    border-bottom: 1px solid var(--border_color);
    margin-bottom: 64px;
}

.navigation_bar {
    width: 1080px;
    margin: auto;
    color: white;
    display: flex;
}

.navigation_left {
    width: 50%;
    display: flex;
    align-items: center;
}

.navigation_name {
    text-decoration: none;
}

.navigation_name:hover {
    color: black;
}

.navigation_right {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 33px;
}

.button_menu_primary {
    background-color: white;
    border-radius: 8px;
    padding: 8px 22px;
    text-decoration: none;
    color: var(--main_color);
    transition: 100ms;
    font: var(--main_font);
}

.button_menu_primary:hover {
    background-color: var(--border_color);
    cursor: pointer;
}

.button_primary {
    background-color: var(--button_pri);
    border-radius: 8px;
    padding: 8px 24px;
    text-decoration: none;
    color: white;
    transition: 100ms;
    border: none;
    display: inline-block;
    font: var(--main_font);
    /* font-weight: bold */
}

.button_primary:hover {
    background-color: var(--button_pri_hover);
    color: white;
    cursor: pointer;
}

.button_secondary {
    background-color: white;
    border: 1px solid var(--main_color_light);
    border-radius: 8px;
    padding: 8px 22px;
    text-decoration: none;
    color: var(--main_color);
    transition: 100ms;
    display: inline-block;
    font: var(--main_font);
    /* font-weight: bold; */
}

.button_secondary:hover {
    background-color: var(--border_color);
    cursor: pointer;
}

.link_menu {
    border-radius: 100px;
    text-decoration: none;
    color: black;
}


.link_menu:hover {
    color: var(--button_pri_hover);
}

h3 a {
  color: black;  
}

h3 a:hover {
  color: var(--button_pri_hover);  
}


a {
    color: var(--paragraph_color);
    text-decoration: underline;
}

a:hover {
    cursor: pointer;
    color: var(--button_pri_hover);
}

.navigation_banner {
    background-color: var(--main_color);
    width: 100%;
    padding: 8px 0px;
    /* height: 54px;
    align-content: center; */
}

.navigation_banner_content {
    width: 1080px;
    margin: auto;
    display: flex;
    color: white !important;
}

.navigation_banner p {
    color: white;
}

/* CONTENT */

.section_content {
    width: 1080px;
    margin: auto;
}

h1 {
    margin-bottom: 32px;
}

.bread_crumb {
    margin-bottom: 8px;
    display: flex;
    gap: 8px;
}

.select_custom {
    border-radius: 8px;
    padding: 8px;
    border: 1px solid var(--border_color);
    font: var(--main_font);
    color: var(--paragraph_color);
    font-size: 16px;
}

.select_custom:focus-visible {
    outline: 1px solid var(--main_color);
    color: black;
}

.input_short_form {
    border: 1px solid var(--border_color);
    padding: 8px 8px;
    color: var(--paragraph_color);
    font: var(--main_font);
    border-radius: 8px;
    width: 50%;
    max-width: 100%;
    min-width: 540px;
    font-size: 16px;
    resize: both;
}

.input_short_form:focus-visible {
    outline: 1px solid var(--main_color);
    color: black;
}


.section_form_fields {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.section_form_fields h4 {
    margin-bottom: 4px;
}

.section_form_fields div {
    width: 100%;
}


/* FOOTER */

footer {
    width: 100%;
    border-top: 1px solid var(--border_color);
    margin-top: 64px;
    padding: 16px 0px;
}

.section_footer {
    width: 1080px;
    margin: auto;
}


/* ERRORS */

.message_error {
    background-color: #6d7983;
    margin-bottom: 32px;
    border-radius: 8px;
    padding: 32px;
    color: #ffff;
    display: flex;
    gap: 8px;
}

.message_error p {
    color: #ffff;
}

.input_short_form_error   {
    outline: 1px solid #6d7983;
    border-radius: 8px;
}