/* SITEMAP (Home) */
.section_sitemap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.subject_sitemap {
    border: 1px solid var(--border_color);
    border-radius: 8px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.page_sitemap {
    display: flex;
    row-gap: 8px;
    flex-direction: column;
}

/* PAGES */

img {
    border-radius: 8px;
}

#hero-image img {
    width: 100%;
    height: fit-content;
}

#hero-image {
    margin-bottom: 32px;
}

#content h1 {
    margin-bottom: 16px;
}

#content h2 {
    margin-bottom: 8px;
}

#content p {
    margin-bottom: 16px;
}

#content ul {
    padding-left: 32px;
    margin-bottom: 12px;
}

#content li {
    margin-bottom: 4px;
}