/* STAFF */
.section_hero {
    width: 1080px;
    margin: auto;
}

.container_link {
    display: flex;
    gap: 16px;
}

.item_link {
    width: 100%;
    border-radius: 8px;
    padding: 32px;
    border: 1px solid var(--border_color);
}

.item_link h2 {
    margin-bottom: 8px;
}

.item_link p {
    margin-bottom: 16px;
}

.section_hero h1 {
    margin-bottom: 32px;
}



/* SUBJECTS */

.section_table {
    width: 1080px;
    margin: auto;
}

.section_table_heading {
    margin-bottom: 32px;
}

.section_table_heading h1 {
    margin-bottom: 16px;
}

.list {
    width: 100%;
    border: 1px solid var(--border_color);
    border-radius: 8px;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}

/* th {
    background-color: #f8f7ff;
} */

/* .list tr:hover:nth-child(n+2) {
    background-color: #f8f7ff;
} */

.list td, .list th {
    padding: 16px;
    text-align: left;
    border: none; 
    border-bottom: 1px solid var(--border_color);
}

.list tr:last-child td,
.list tr:last-child th {
    border-bottom: none;
}

.list td {
    color: var(--paragraph_color);
}

.list th {
    align-content: start;
}

.link_paragraph {
    text-decoration: underline;
    color: var(--paragraph_color);
}

.link_paragraph:hover {
    color: var(--button_pri_hover);
}

.section_show {
    margin: auto;
    width: 1080px;
}


/* SHOW */
.section_show h1 {
    margin-bottom: 16px;
}

.section_attributes {
    margin-bottom: 32px;
}


/* CREATE */
.section_form {
    margin: auto;
    width: 1080px;
}

.section_form h1 {
    margin-bottom: 32px;
}

.section_form dl {
    margin-bottom: 16px;
}

.section_content {
    width: 100%;
}


/* DELETE */
.delete h1 {
    margin-bottom: 16px;
}

.delete p {
    margin-bottom: 32px;
}

.section_button {
    display: flex;
    gap: 8px;
}

/* ERRORS */

.errors {
    background-color: #6d7983;
    margin-bottom: 32px;
    border-radius: 8px;
    padding: 32px;
    color: #ffff;
}

.errors p {
    color: #ffff;
}

.input_short_form_error   {
    outline: 1px solid #6d7983;
    border-radius: 8px;
}