@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* GLOBAL VARIABLES */
:root {
    --main_color: #2f02fc;
    --main_color_light: #ebebeb;
    --border_color: #d9d9d9;
    --paragraph_color: #414141;

    --button_pri: var(--main_color);
    --button_pri_hover: #2500c9;
}


/* ALL */
* {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    color: var(--paragraph_color);
}


/* NAVIGATION */
.navigation_bar {
    padding: 16px 100px;
    background-color: var(--main_color);
    color: white;
    display: flex;
}

.navigation_left {
    width: 50%;
    display: flex;
    align-items: center;
}

.navigation_name {
    text-decoration: none;
}

.navigation_name:hover {
    color: var();
}

.navigation_right {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 33px;
}

.button_menu {
    background-color: white;
    border-radius: 100px;
    padding: 8px 22px;
    text-decoration: none;
    color: black;
}

.button_primary {
    background-color: var(--button_pri);
    border-radius: 100px;
    padding: 8px 22px;
    text-decoration: none;
    color: white;
    transition: 100ms;
    display: inline-block;
}

.button_primary:hover {
    background-color: var(--button_pri_hover);
}

.link_menu {
    border-radius: 100px;
    text-decoration: none;
    color: white;
}

h3 a {
  color: white;  
}


/* FOOTER */

footer {
    padding: 16px 100px;
    background-color: black;
    color: white;
}


/* STAFF */
.section_hero {
    padding: 33px 100px;
}

.container_link {
    display: flex;
    gap: 16px;
}

.item_link {
    width: 100%;
    border-radius: 16px;
    padding: 33px;
    border: 1px solid var(--border_color);
}

.item_link p {
    margin-bottom: 16px;
}

.section_hero h1 {
    margin-bottom: 16px;
}



/* SUBJECTS */

.section_subjects {
    padding: 33px 100px;
}

.list {
    width: 100%;
    border: 1px solid var(--border_color);
    border-radius: 16px;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}

th {
    background-color: var(--main_color);
    color: white;
}

.list tr:nth-child(odd) {
    background-color: #f8f7ff;
}

.list td, .list th {
    padding: 16px;
    text-align: left;
    border: none; 
}

.list td {
    color: var(--paragraph_color);
}

.action {
    text-decoration: none;
    color: var(--button_pri);
}

.action:hover {
    color: var(--button_pri_hover);
}